body, p, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:active, &:focus, &:hover {
	text-decoration: none;
  }
}

* {
  outline: none;
  &:active, &:focus, &:hover {
	outline: none;
  }
}

ul {
  list-style: none;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
	@content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
	@content;
  }
  
  @include optional-at-root(':-moz-placeholder') {
	@content;
  }
  
  @include optional-at-root('::-moz-placeholder') {
	@content;
  }
  
  @include optional-at-root(':-ms-input-placeholder') {
	@content;
  }
}

.homepage-header {
  overflow: hidden; // fix
  
  .menu-with-content {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #fff;
	transition: transform .5s ease;
	width: 80%;
	transform: translateX(-100%);
	&.opened {
	  transform: translateX(0);
	  z-index: 999;
	}
	
	.menu-logo {
	  position: absolute;
	  top: 55px;
	  left: 61px;
	  transform: translateX(-50%);
	  max-width: 60px;
	}
	
	.menu-close {
	  position: absolute;
	  top: 48%;
	  left: 61px;
	  transform: translateX(-50%);
	  cursor: pointer;
	  height: 18px;
	  width: 18px;
	  span {
		width: 1px;
		height: 24px;
		background: #105644;
		display: inline-block;
		position: absolute;
		left: 8.5px;
		top: -3px;
		
		&.left {
		  transform: rotate(45deg);
		}
		&.right {
		  transform: rotate(-45deg);
		}
	  }
	}
	
	.menu-items-wrapper {
	  position: absolute;
	  top: 21.5%;
	  left: 20.2%;
	  .main-menu {
		margin-bottom: 73px;
		li {
		  margin-bottom: 23px;
		  
		  &:last-child {
			margin-bottom: 0;
		  }
		  a {
			color: #105644;
			font-family: "GT Sectra Display Trial", sans-serif;
			font-size: 22px;
			font-weight: 500;
			text-transform: capitalize;
			display: inline-block;
			transition: color .4s ease;
			
			&.work-link {
			  &:hover {
				color: #5C112A;
			  }
			}
			&.about-link {
			  &:hover {
				color: #C6B1A4;
			  }
			}
			&.services-link {
			  &:hover {
				color: #90C9DD;
			  }
			}
			&.process-link {
			  &:hover {
				color: #12245A;
			  }
			}
			&.connect-link {
			  &:hover {
				color: #988173;
			  }
			}
		  }
		}
	  }
	  
	  .info-menu {
		margin-bottom: 22px;
		li {
		  margin-bottom: 23px;
		  
		  &:last-child {
			margin-bottom: 0;
		  }
		  
		  &:hover {
			.info-headline {
			  color: #d8d6d6;
			}
		  }
		  
		  .info-headline {
			color: #105644;
			font-family: Montserrat, sans-serif;
			font-size: 16px;
			font-weight: 400;
			display: block;
			transition: color .4s ease;
		  }
		  .info-content {
			color: #105644;
			font-family: Optima, sans-serif;
			font-size: 15px;
			font-weight: 200;
		  }
		}
	  }
	  
	  .social-menu {
		display: flex;
		flex-direction: row;
		li {
		  margin-right: 18px;
		  &:last-child {
			margin-right: 0;
		  }
		  a {
			color: #7e7e7e;
			font-family: Optima, sans-serif;
			font-size: 15px;
			font-weight: 400;
		  }
		}
	  }
	}
  }
  
  .menu-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 122px;
	height: 100%;
	background: #fff;
	transition: width .5s ease;
	
	.menu-logo {
	  position: absolute;
	  top: 55px;
	  left: 61px;
	  transform: translateX(-50%);
	  max-width: 60px;
	}
	
	.menu-key {
	  color: #105644;
	  font-family: Optima, sans-serif;
	  font-size: 14px;
	  font-weight: 400;
	  position: fixed;
	  top: 48%;
	  left: 29px;
	  transform: rotate(-90deg);
	  cursor: pointer;
	}
  }
  .contact-key {
	color: #fff;
	font-family: Optima, sans-serif;
	font-size: 14px;
	font-weight: 400;
	position: fixed;
	top: 48%;
	right: 0;
	margin-right: 27px;
	transform: rotate(90deg);
	cursor: pointer;
  }
  
  .contact-wrapper {
	background-color: #105644;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	transition: transform .5s ease;
	width: 100%;
	transform: translateX(100%);
	z-index: 999;
	&.opened {
	  transform: translateX(0);
	}
	.contact-close {
	  position: absolute;
	  top: 48%;
	  right: 30px;
	  transform: translateX(-50%);
	  cursor: pointer;
	  height: 18px;
	  width: 18px;
	  span {
		width: 1px;
		height: 24px;
		background: #fff;
		display: inline-block;
		position: absolute;
		left: 8.5px;
		top: -3px;
		
		&.left {
		  transform: rotate(45deg);
		}
		&.right {
		  transform: rotate(-45deg);
		}
	  }
	}
	.contact-headline {
	  color: #fcfcfc;
	  font-family: "GT Sectra Display Trial", sans-serif;
	  font-size: 17px;
	  font-weight: 500;
	  margin-bottom: 47px;
	}
	.contact-form {
	  width: 66.4%;
	  position: absolute;
	  top: 24.1%;
	  left: 8.2%;
	  .row {
		display: flex;
		margin-bottom: 25px;
	  }
	  .input-group {
		display: flex;
		flex-direction: column;
		width: 100%;
		
		&.w-50 {
		  width: 50%;
		}
		label {
		  color: #fcfcfc;
		  font-family: "GT Sectra Display Trial", sans-serif;
		  font-size: 17px;
		  font-weight: 500;
		  margin-bottom: 30px;
		}
		input {
		  border: none;
		  border-bottom: 1px solid #fcfcfc;
		  margin-right: 48px;
		  background: transparent;
		  display: flex;
		  flex-direction: column;
		  padding-bottom: 25px;
		  @include placeholder {
			color: #fcfcfc;
			font-family: Montserrat, sans-serif;
			font-size: 17px;
			font-weight: 200;
		  }
		}
	  }
	  
	  .contact-info-menu {
		li {
		  margin-bottom: 23px;
		  &:last-child {
			margin-bottom: 0;
		  }
		  &:hover {
			.info-headline {
			  color: #d8d6d6;
			}
		  }
		  .contact-info-headline {
			color: #fcfcfc;
			font-family: Optima, sans-serif;
			font-size: 11px;
			font-weight: 400;
			display: block;
			transition: color .4s ease;
		  }
		  .contact-info-content {
			color: #fcfcfc;
			font-family: Montserrat, sans-serif;
			font-size: 17px;
			font-weight: 200;
		  }
		}
	  }
	  
	  .contact-info-row {
		justify-content: space-between;
		margin-top: 65px;
	  }
	  
	  .submit {
		background: transparent;
		border: none;
		color: #fcfcfc;
		font-family: "GT Sectra Display Trial", sans-serif;
		font-size: 17px;
		font-weight: 500;
		cursor: pointer;
		padding: 0;
		.submit-arrow {
		  display: inline-block;
		  width: 50px;
		  height: 29px;
		  background: url('../images/all-icons.png') -155px -299px;
		  margin-right: 25px;
		  zoom: .25;
		}
	  }
	}
  }
  
  .loading-animation {
	width: 100vw;
	height: 100vh;
	background-color: #105644;
	.header-text {
	  position: absolute;
	  top: 48%;
	  left: 28%;
	  color: #fcfcfc;
	  font-family: "GT Sectra Display Trial", sans-serif;
	  font-size: 40px;
	  font-weight: 500;
	  display: flex;
	  align-items: center;
	  line-height: 100%;
	  .custom-and {
		font-family: sofia-pro, sans-serif;
		font-style: normal;
		font-weight: 200;
	  }
	  .animated-header-text {
		span {
		  position: absolute;
		  top: 0;
		  right: 100%;
		  white-space: nowrap;
		}
	  }
	}
  }
  
}

.intro-section {
  display: flex;
  align-items: center;
  padding: 72px 0;
  background-color: #fcfcfc;
  padding-left: 122px;
  
  .content{
	max-width: 56%;
	position: relative;
	left: 20%;
  }
  
  .intro-image-wrapper{
	overflow: hidden;
	position: relative;
	right: 125px;
	max-height: 622px;
	width: 100%;
	.intro-image{
	  height: 100%;
	  transform-origin: right;
	  width: 100%;
	  object-fit: contain;
	  transform: translateX(calc(100% - 117px));
	  transition: transform .4s ease-out;
	  &:hover{
		transform: translateX(0);
	  }
	}
  }
  
}

.homepage-section{
  display: flex;
  align-items: center;
  padding: 72px 0;
  background-color: #fcfcfc;
  padding-left: 122px;
}


.m-b-headline{
  color: #105644;
  font-family: "GT Sectra Display Trial",sans-serif;
  font-size: 22px;
  margin-bottom: 32px;
}

.m-b-paragraph{
  color: #999d9c;
  font-family: Montserrat,sans-serif;
  font-size: 38px;
  font-weight: 200;
  margin-bottom: 13px;
}

.m-b-link{
  color: #105644;
  font-family: Optima,sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #d8d6d6;
  
  &:hover{
	color: #cc7a50;
  }
}

.m-b-paragraph-small{
  color: #9a9a9a;
  font-family: Montserrat,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
























