body, p, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:active, a:focus, a:hover {
  text-decoration: none;
}

* {
  outline: none;
}
*:active, *:focus, *:hover {
  outline: none;
}

ul {
  list-style: none;
}

.homepage-header {
  overflow: hidden;
}
.homepage-header .menu-with-content {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #fff;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  width: 80%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.homepage-header .menu-with-content.opened {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 999;
}
.homepage-header .menu-with-content .menu-logo {
  position: absolute;
  top: 55px;
  left: 61px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 60px;
}
.homepage-header .menu-with-content .menu-close {
  position: absolute;
  top: 48%;
  left: 61px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  height: 18px;
  width: 18px;
}
.homepage-header .menu-with-content .menu-close span {
  width: 1px;
  height: 24px;
  background: #105644;
  display: inline-block;
  position: absolute;
  left: 8.5px;
  top: -3px;
}
.homepage-header .menu-with-content .menu-close span.left {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.homepage-header .menu-with-content .menu-close span.right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.homepage-header .menu-with-content .menu-items-wrapper {
  position: absolute;
  top: 21.5%;
  left: 20.2%;
}
.homepage-header .menu-with-content .menu-items-wrapper .main-menu {
  margin-bottom: 73px;
}
.homepage-header .menu-with-content .menu-items-wrapper .main-menu li {
  margin-bottom: 23px;
}
.homepage-header .menu-with-content .menu-items-wrapper .main-menu li:last-child {
  margin-bottom: 0;
}
.homepage-header .menu-with-content .menu-items-wrapper .main-menu li a {
  color: #105644;
  font-family: "GT Sectra Display Trial", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}
.homepage-header .menu-with-content .menu-items-wrapper .main-menu li a.work-link:hover {
  color: #5C112A;
}
.homepage-header .menu-with-content .menu-items-wrapper .main-menu li a.about-link:hover {
  color: #C6B1A4;
}
.homepage-header .menu-with-content .menu-items-wrapper .main-menu li a.services-link:hover {
  color: #90C9DD;
}
.homepage-header .menu-with-content .menu-items-wrapper .main-menu li a.process-link:hover {
  color: #12245A;
}
.homepage-header .menu-with-content .menu-items-wrapper .main-menu li a.connect-link:hover {
  color: #988173;
}
.homepage-header .menu-with-content .menu-items-wrapper .info-menu {
  margin-bottom: 22px;
}
.homepage-header .menu-with-content .menu-items-wrapper .info-menu li {
  margin-bottom: 23px;
}
.homepage-header .menu-with-content .menu-items-wrapper .info-menu li:last-child {
  margin-bottom: 0;
}
.homepage-header .menu-with-content .menu-items-wrapper .info-menu li:hover .info-headline {
  color: #d8d6d6;
}
.homepage-header .menu-with-content .menu-items-wrapper .info-menu li .info-headline {
  color: #105644;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: block;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}
.homepage-header .menu-with-content .menu-items-wrapper .info-menu li .info-content {
  color: #105644;
  font-family: Optima, sans-serif;
  font-size: 15px;
  font-weight: 200;
}
.homepage-header .menu-with-content .menu-items-wrapper .social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.homepage-header .menu-with-content .menu-items-wrapper .social-menu li {
  margin-right: 18px;
}
.homepage-header .menu-with-content .menu-items-wrapper .social-menu li:last-child {
  margin-right: 0;
}
.homepage-header .menu-with-content .menu-items-wrapper .social-menu li a {
  color: #7e7e7e;
  font-family: Optima, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.homepage-header .menu-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 122px;
  height: 100%;
  background: #fff;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}
.homepage-header .menu-wrapper .menu-logo {
  position: absolute;
  top: 55px;
  left: 61px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 60px;
}
.homepage-header .menu-wrapper .menu-key {
  color: #105644;
  font-family: Optima, sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: fixed;
  top: 48%;
  left: 29px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
}
.homepage-header .contact-key {
  color: #fff;
  font-family: Optima, sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: fixed;
  top: 48%;
  right: 0;
  margin-right: 27px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}
.homepage-header .contact-wrapper {
  background-color: #105644;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 999;
}
.homepage-header .contact-wrapper.opened {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.homepage-header .contact-wrapper .contact-close {
  position: absolute;
  top: 48%;
  right: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  height: 18px;
  width: 18px;
}
.homepage-header .contact-wrapper .contact-close span {
  width: 1px;
  height: 24px;
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 8.5px;
  top: -3px;
}
.homepage-header .contact-wrapper .contact-close span.left {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.homepage-header .contact-wrapper .contact-close span.right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.homepage-header .contact-wrapper .contact-headline {
  color: #fcfcfc;
  font-family: "GT Sectra Display Trial", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 47px;
}
.homepage-header .contact-wrapper .contact-form {
  width: 66.4%;
  position: absolute;
  top: 24.1%;
  left: 8.2%;
}
.homepage-header .contact-wrapper .contact-form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.homepage-header .contact-wrapper .contact-form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.homepage-header .contact-wrapper .contact-form .input-group.w-50 {
  width: 50%;
}
.homepage-header .contact-wrapper .contact-form .input-group label {
  color: #fcfcfc;
  font-family: "GT Sectra Display Trial", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 30px;
}
.homepage-header .contact-wrapper .contact-form .input-group input {
  border: none;
  border-bottom: 1px solid #fcfcfc;
  margin-right: 48px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 25px;
}
.homepage-header .contact-wrapper .contact-form .input-group input::-webkit-input-placeholder {
  color: #fcfcfc;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 200;
}
.homepage-header .contact-wrapper .contact-form .input-group input:-moz-placeholder {
  color: #fcfcfc;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 200;
}
.homepage-header .contact-wrapper .contact-form .input-group input::-moz-placeholder {
  color: #fcfcfc;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 200;
}
.homepage-header .contact-wrapper .contact-form .input-group input:-ms-input-placeholder {
  color: #fcfcfc;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 200;
}
.homepage-header .contact-wrapper .contact-form .contact-info-menu li {
  margin-bottom: 23px;
}
.homepage-header .contact-wrapper .contact-form .contact-info-menu li:last-child {
  margin-bottom: 0;
}
.homepage-header .contact-wrapper .contact-form .contact-info-menu li:hover .info-headline {
  color: #d8d6d6;
}
.homepage-header .contact-wrapper .contact-form .contact-info-menu li .contact-info-headline {
  color: #fcfcfc;
  font-family: Optima, sans-serif;
  font-size: 11px;
  font-weight: 400;
  display: block;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}
.homepage-header .contact-wrapper .contact-form .contact-info-menu li .contact-info-content {
  color: #fcfcfc;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 200;
}
.homepage-header .contact-wrapper .contact-form .contact-info-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}
.homepage-header .contact-wrapper .contact-form .submit {
  background: transparent;
  border: none;
  color: #fcfcfc;
  font-family: "GT Sectra Display Trial", sans-serif;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
}
.homepage-header .contact-wrapper .contact-form .submit .submit-arrow {
  display: inline-block;
  width: 50px;
  height: 29px;
  background: url("../images/all-icons.png") -155px -299px;
  margin-right: 25px;
  zoom: .25;
}
.homepage-header .loading-animation {
  width: 100vw;
  height: 100vh;
  background-color: #105644;
}
.homepage-header .loading-animation .header-text {
  position: absolute;
  top: 48%;
  left: 28%;
  color: #fcfcfc;
  font-family: "GT Sectra Display Trial", sans-serif;
  font-size: 40px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
}
.homepage-header .loading-animation .header-text .custom-and {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 200;
}
.homepage-header .loading-animation .header-text .animated-header-text span {
  position: absolute;
  top: 0;
  right: 100%;
  white-space: nowrap;
}

.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 72px 0;
  background-color: #fcfcfc;
  padding-left: 122px;
}
.intro-section .content {
  max-width: 56%;
  position: relative;
  left: 20%;
}
.intro-section .intro-image-wrapper {
  overflow: hidden;
  position: relative;
  right: 125px;
  max-height: 622px;
  width: 100%;
}
.intro-section .intro-image-wrapper .intro-image {
  height: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translateX(calc(100% - 117px));
          transform: translateX(calc(100% - 117px));
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  transition: transform .4s ease-out, -webkit-transform .4s ease-out;
}
.intro-section .intro-image-wrapper .intro-image:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.homepage-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 72px 0;
  background-color: #fcfcfc;
  padding-left: 122px;
}

.m-b-headline {
  color: #105644;
  font-family: "GT Sectra Display Trial",sans-serif;
  font-size: 22px;
  margin-bottom: 32px;
}

.m-b-paragraph {
  color: #999d9c;
  font-family: Montserrat,sans-serif;
  font-size: 38px;
  font-weight: 200;
  margin-bottom: 13px;
}

.m-b-link {
  color: #105644;
  font-family: Optima,sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #d8d6d6;
}
.m-b-link:hover {
  color: #cc7a50;
}

.m-b-paragraph-small {
  color: #9a9a9a;
  font-family: Montserrat,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
